.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

#sfm-header{
    background: #48a3ff;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    padding: 40px 40px 0;
    position: relative;
}

#sfm-header h3{
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 40px;
    text-transform: uppercase;
}

#sfm-tab-wrapper a.sfm-tab {
    background: rgba(255, 255, 255, .2);
    box-shadow: none;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    outline: 0;
    padding: 18px 40px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
#sfm-tab-wrapper a.sfm-tab img {
    position: absolute;
    right: -10px;
    top: -12px;
    width: 120px;
}

.sfm-tab-wrapper {
    position: relative;
    z-index: 999;
}

.upgrade-pro-banner {
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
}

.upgrade-pro-banner img {
    height: 100%;
    width: auto;
}

#sfm-tab-wrapper a.sfm-tab i{
    display: inline-block;
    margin-left: 6px;
}

#sfm-tab-wrapper a.sfm-tab.sfm-tab-active{
    background: #FFF;
    color: #23282d;
}

.sfm-form-page{
    display: none;
}

.sfm-form-page.sfm-active{
    display: block;
}

#sfm-form-wrap{
    background: #FFF;
    padding: 20px 40px 40px;
}

#sfm-form-wrap *{
    box-sizing: border-box;
}

#sfm-form-wrap img{
    max-width: 100%;
}

.sfm-button-repeater .form-table{
    background: #EEE;
    margin-bottom: 20px;
    padding: 20px;
}

.form-row{
    display: flex;
    margin: 20px 0 0;
}

.form-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.form-row label.form-label{
    display: block;
    margin-bottom: 5px;
    width: 160px;
}

.form-row .form-field {
    flex-grow: 1;
}

.form-description{
    font-size: 13px;
    font-style: italic;
    margin: 5px 0 0;
}

.sfm-button-fields{
    background: #FAFAFA;
    border: 1px solid #F3F3F3;
    margin: 20px 0 0 ;
    padding: 20px;
    position: relative;
}

.sfm-button-fields .sfm-remove{
    border-right: 1px solid #F3F3F3;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
}

.sfm-button-fields:first-child .sfm-remove{
    display: none;
}

.sfm-button-fields-header{
    border-bottom: 1px solid #F3F3F3;
    cursor: move;
    font-weight: bold;
    line-height: 20px;
    margin: -20px -20px 0;
    padding: 15px 20px;
}

.sfm-button-fields-header .sfm-drag{
    color: #000;
    float: right;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin: -15px -20px 15px 0;
    text-align: center;
    width: 50px;
}

.form-col-2 .form-col{
    margin-bottom: 10px;
    width: 50%;
}

.form-col-4 .form-col{
    width: 25%;
}

.form-row .form-col label.form-label{
    width: 100%;
}

#sfm-form-wrap div.sfm-form-start{
    max-width: 800px;
    width: 65%;
}

.sfm-add-new-button-fields{
    background: #FFF;
    padding: 20px;
    text-align: left;
}

.form-table td.sfm-seperator{
    padding: 0;
}

/*FontAwesome Icon Styles*/
.sfm-customizer-icon-box .sfm-icon-box {
    display: none;
    width: 405px;
}

.sfm-customizer-icon-box .sfm-type-icon {
    overflow: hidden;
}

.sfm-customizer-icon-box .sfm-selected-icon {
    background: #F6F6F6;
    border: 1px solid #EEE;
    cursor: pointer;
    font-size: 22px;
    height: 45px;
    line-height: 45px;
    margin-left: 44px;
    position: relative;
    text-align: center;
    width: 60px;
}

.sfm-customizer-icon-box .sfm-selected-icon span i {
    display: block;
    line-height: 45px;
}

.sfm-customizer-icon-box .sfm-selected-icon span {
    background: #F6F6F6;
    border: 1px solid #EEE;
    font-size: 16px;
    height: 45px;
    left: -45px;
    position: absolute;
    top: -1px;
    width: 45px;
}

.sfm-customizer-icon-box .sfm-icon-search {
    align-items: center;
    background: #f7f7f7;
    border: 1px solid #EEE;
    border-top: 0;
    display: flex;
    padding: 10px;
}

.sfm-customizer-icon-box .sfm-icon-search input {
    flex-grow: 1;
}

.sfm-customizer-icon-box .sfm-icon-list {
    background: #FFF;
    border: 1px solid #EEE;
    border-left: 0;
    border-top: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    display: none;
    font-size: 18px;
    height: 215px;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
}

.sfm-customizer-icon-box .sfm-icon-list {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.sfm-customizer-icon-box .sfm-icon-list::-webkit-scrollbar {
    display: none; 
}

.sfm-customizer-icon-box .sfm-icon-list:first-of-type {
    display: block;
}

.sfm-customizer-icon-box .sfm-icon-list li {
    border: 1px solid #EEE;
    border-radius: 3px;
    float: right;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 4px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 40px;
}

.sfm-customizer-icon-box .sfm-icon-list li:hover {
    background: #333;
    border: 1px solid #333;
    color: #FFF;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.sfm-customizer-icon-box .sfm-icon-list li.icon-active {
    background: #0073aa;
    border: 1px solid #0073aa;
    color: #FFF;
}

.sfm-range-slider{
    margin-top: 30px;
    width: 300px;
}

.sfm-range-slider .ui-widget.ui-widget-content{
    background: rgba(0, 0, 0, .15);
    border: none;
    cursor: pointer;
    height: 4px;
    position: relative;
}

.sfm-range-slider .ui-slider .ui-slider-range{
    background: #13a1dc;
    height: 100%;
    position: absolute;
    top: 0;
}

.sfm-range-slider .ui-slider .ui-slider-handle{
    background: #d9d9d9;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: 10px;
    margin-right: -1px;
    position: absolute;
    top: -6px;
    width: 2px;
}

.sfm-range-slider .ui-slider .ui-slider-handle span{
    background: #13a1dc;
    border-radius: 2px;
    bottom: 100%;
    color: #FFF;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 4px;
    min-width: 12px;
    padding: 4px 6px;
    position: absolute;
    right: 50%;
    text-align: center;
    transform: translateX(50%);
    transition: all 0.3s ease;
    white-space: nowrap;
}

.sfm-range-slider .ui-slider .ui-slider-handle span:hover{
    transform: scale(1.05) translateX(50%);
}

.sfm-range-slider .ui-slider .ui-slider-handle span:after{
    content: " px";
}

.sfm-typography-line-height .sfm-range-slider .ui-slider .ui-slider-handle span:after{
    content: "";
}

.sfm-typography-fields{
    margin: 0;
    padding: 0;
}

.sfm-typography-fields li{
    margin: 0;
    padding: 0;
}

.sfm-typography-fields li.typography-loading{
    opacity: 0.7;
    pointer-events: none;
}

.sfm-typography-fields .chosen-container-single .chosen-single{
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat left 5px top 55%;
    background-size: 16px 16px;
    border-color: #8c8f94;
    border-radius: 3px;
    box-shadow: none;
    color: #2c3338;
    cursor: pointer;
    font-size: 14px;
    line-height: 2;
    min-height: 30px;
    padding: 0 10px 0 0;
    vertical-align: middle;
}

.sfm-typography-fields .chosen-container-single .chosen-single div{
    display: none;
}

.sfm-typography-fields .chosen-container-single .chosen-single span {
    margin: 0 0 0 26px;
}

.sfm-typography-fields .chosen-container-single .chosen-search input[type="text"]{
    background: none !important;
    box-shadow: none;
    padding: 5px;
}

#sfm-form-wrap{
    display: flex;
}

.sfm-live-demo{
    border: 2px solid #FAFAFA;
    height: 500px;
    margin-right: 5%;
    margin-top: 20px;
    position: sticky;
    top: 40px;
    width: 30%;
}

.sfm-live-demo.sfm-loading .sfm-floating-menu{
    opacity: 0.4;
}

.sfm-button a{
    pointer-events: none;
}

.sfm-live-demo:after {
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    content: "";
    display: none;
    height: 30px;
    margin-right: -15px;
    margin-top: -15px;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 30px;
}

.sfm-live-demo.sfm-loading:after{
    display: block;
}

.sfm-live-demo:before{
    border: 1px dashed #f6f6f6;
    color: #F6F6F6;
    content: 'Preview';
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    position: absolute;
    right: 50%;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(50%, -50%);
}

#sfm-form-wrap p.submit{
    margin: 40px 0 0;
    padding: 0;
}

#sfm-form-wrap hr{
    border-bottom: 1px solid #F3F3F3;
    border-top: 0;
    margin: 20px 0;
}

.sfm-form-row{
    align-items: center;
    border: 1px solid #F3F3F3;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.sfm-form-row label.form-label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    width: auto;
}

.sfm-form-row label.form-label span{
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin-top: 5px;
}

/* On Off switch */
.onoff-switch {
    display: inline-block;
    float: left;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 52px;
}

.onoff-switch-checkbox {
    display: none !important;
}

.onoff-switch-label {
    background-color: #c4c4c4;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, .11);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, .11);
    cursor: pointer;
    display: block;
    height: 22px;
    line-height: 19px !important;
    overflow: hidden;
    padding: 0;
    -webkit-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

.onoff-switch-label:before {
    background-color: #fff;
    border-radius: 10px;
    bottom: 0;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    content: "";
    display: block;
    height: 18px;
    left: 32px;
    margin: 0;
    position: absolute;
    top: 2px;
    -webkit-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
    width: 18px;
}

.onoff-switch-label:after {
    bottom: 2px;
    color: #FFF;
    content: "OFF";
    display: block;
    font-family: 'Arial';
    font-size: 11px;
    left: 6px;
    position: absolute;
    top: 2px;
}

.onoff-switch-checkbox:checked+.onoff-switch-label {
    background-color: #3caf0e;
}

.onoff-switch-checkbox:checked+.onoff-switch-label,
.onoff-switch-checkbox:checked+.onoff-switch-label:before {
    border-color: #3caf0e;
}

.onoff-switch-checkbox:checked+.onoff-switch-label:before {
    left: 2px;
}

.onoff-switch-checkbox:checked+.onoff-switch-label:after {
    bottom: 2px;
    color: #FFF;
    content: "ON";
    display: block;
    font-family: 'Arial';
    font-size: 11px;
    left: 27px;
    position: absolute;
    top: 2px;
}

.sfm-notice p{
    font-size: 15px;
}

.sfm-error-notice{
    color: red;
}

.sfm-success-notice{
    color: green;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

.wp-core-ui #sfm-form-wrap .button.button-small{
    height: 30px;
    margin-right: 5px;
}

#adminmenu #toplevel_page_simple-floating-menu div.wp-menu-image:before{
    content: "\f1bf";
    font-family: 'EssentialIcon';
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
}

.sfm-button.sfm-edit{
    display: none;
}

.sfm-premium-features{
    border: 1px solid #EEE;
    margin: 0 0 30px;
    max-width: 800px;
    padding: 30px;
}

.sfm-premium-features h4{
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.sfm-feature-box{
    margin: 0 0 30px;
    padding: 0;
    text-transform: capitalize;
}

.sfm-feature-box li{
    font-size: 16px;
    line-height: 1.4;
    margin: 0 0 10px;
    padding: 0 30px 0 0;
    position: relative;
}

.sfm-feature-box li:last-child{
    margin-bottom: 0;
}

.sfm-feature-box li:before{
    color: #3caf0e;
    content: "\f00d";
    font-family: 'IcoFont' !important;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.sfm-inline-buttons{
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    max-width: 800px;
}

.sfm-inline-buttons .sfm-link-button{
    flex-grow: 1;
}

.sfm-inline-buttons .sfm-link-button a {
    background: #48a3ff;
    color: #FFF;
    display: block;
    font-weight: bold;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.sfm-inline-buttons .sfm-link-button a:hover {
    background: #3c89d8;
}

/* Dropzone */
.sfm-dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    height: 150px;
    margin-bottom: 10px;
    max-width: 500px;
    position: relative;
}

.sfm-dropzone-desc {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.sfm-dropzone-desc .icofont-download{
    font-size: 22px;
}

.sfm-dropzone,
.sfm-dropzone:focus {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    outline: none !important;
    position: absolute;
    width: 100%;
}

.sfm-dropzone-wrapper:hover,
.sfm-dropzone-wrapper.dragover {
    background: #ecf0f5;
}

.sfm-preview-zone {
    border: 1px dashed #CCC;
    margin-bottom: 5px;
    max-width: 500px;
    position: relative;
}

.sfm-preview-zone .box-solid{
    align-items: center;
    box-shadow: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.sfm-preview-zone .box-solid p{
    margin: 10px 0;
}

.sfm-preview-zone .sfm-remove-preview{
    background: none !important;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
    left: 10px;
    line-height: 1;
    margin: 0;
    min-height: 0;
    padding: 0;
    position: absolute;
    text-decoration: none;
    top: 10px;
    vertical-align: top;
}

.sfm-preview-zone.hidden + .sfm-dropzone-wrapper + #sfm_import{
    display: none;
}

.sfm-form-start .sfm-success-notice{
    background: green;
    padding: 15px;
}

.sfm-form-start .sfm-success-notice p{
    color: #FFF;
    margin: 0;
}

#sfm-form-wrap .wp-picker-container * {
    box-sizing: content-box;
}

/** Admin Notice **/
.sfm-notice.notice {
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 20px 20px 20px 40px !important;
    position: relative;
}

.sfm-notice.notice p{
    font-size: 16px;
    margin: 0 0 15px;
    padding: 0;
}

.sfm-notice.notice .button .dashicons{
    font-size: 16px;
    height: auto;
    margin: 0 0 0 6px;
    vertical-align: middle;
    width: auto;
}

.sfm-notice a.notice-dismiss {
    text-decoration: none;
}

.sfm-notice.notice .essentialicon-menu-1 {
    color: #72aee6;
    font-size: 52px;
}

.sfm-grid-col{
    display: grid;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.sfm-grid-col-4{
    grid-template-columns: repeat(4, 1fr);
}

.sfm-grid-col-3{
    grid-template-columns: repeat(3, 1fr);
}

.sfm-grid-col li{
    margin: 0;
}

.sfm-grid-col li a {
    background: #48a3ff;
    color: #FFF;
    display: block;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.sfm-grid-col li a:hover{
    background: #3c89d8;
}

/* Additional RTL CSS */
.sfm-range-slider .ui-slider .ui-slider-range{
    left: 0;
}

#sfm-tab-wrapper a.sfm-tab img{
    left: -10px;
    right: auto;
}

.sfm-feature-box li{
    direction: ltr;
}

.sfm-ltr{
    direction: ltr;
    text-align: right;
}