@font-face {
    font-family: 'ElegantIcons';
    src: url('fonts/eleganticons/ElegantIcons.woff') format('woff'),
        url('fonts/eleganticons/ElegantIcons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="egi-"],
[class*=" egi-"] {
    font-family: 'ElegantIcons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.egi-arrow-up:before {
    content: "\21";
}

.egi-arrow-down:before {
    content: "\22";
}

.egi-arrow-left:before {
    content: "\23";
}

.egi-arrow-right:before {
    content: "\24";
}

.egi-arrow-left-up:before {
    content: "\25";
}

.egi-arrow-right-up:before {
    content: "\26";
}

.egi-arrow-right-down:before {
    content: "\27";
}

.egi-arrow-left-down:before {
    content: "\28";
}

.egi-arrow-up-down:before {
    content: "\29";
}

.egi-arrow-up-down-alt:before {
    content: "\2a";
}

.egi-arrow-left-right-alt:before {
    content: "\2b";
}

.egi-arrow-left-right:before {
    content: "\2c";
}

.egi-arrow-expand-alt2:before {
    content: "\2d";
}

.egi-arrow-expand-alt:before {
    content: "\2e";
}

.egi-arrow-condense:before {
    content: "\2f";
}

.egi-arrow-expand:before {
    content: "\30";
}

.egi-arrow-move:before {
    content: "\31";
}

.egi-arrow-carrot-up:before {
    content: "\32";
}

.egi-arrow-carrot-down:before {
    content: "\33";
}

.egi-arrow-carrot-left:before {
    content: "\34";
}

.egi-arrow-carrot-right:before {
    content: "\35";
}

.egi-arrow-carrot-2up:before {
    content: "\36";
}

.egi-arrow-carrot-2down:before {
    content: "\37";
}

.egi-arrow-carrot-2left:before {
    content: "\38";
}

.egi-arrow-carrot-2right:before {
    content: "\39";
}

.egi-arrow-carrot-up-alt2:before {
    content: "\3a";
}

.egi-arrow-carrot-down-alt2:before {
    content: "\3b";
}

.egi-arrow-carrot-left-alt2:before {
    content: "\3c";
}

.egi-arrow-carrot-right-alt2:before {
    content: "\3d";
}

.egi-arrow-carrot-2up-alt2:before {
    content: "\3e";
}

.egi-arrow-carrot-2down-alt2:before {
    content: "\3f";
}

.egi-arrow-carrot-2left-alt2:before {
    content: "\40";
}

.egi-arrow-carrot-2right-alt2:before {
    content: "\41";
}

.egi-arrow-triangle-up:before {
    content: "\42";
}

.egi-arrow-triangle-down:before {
    content: "\43";
}

.egi-arrow-triangle-left:before {
    content: "\44";
}

.egi-arrow-triangle-right:before {
    content: "\45";
}

.egi-arrow-triangle-up-alt2:before {
    content: "\46";
}

.egi-arrow-triangle-down-alt2:before {
    content: "\47";
}

.egi-arrow-triangle-left-alt2:before {
    content: "\48";
}

.egi-arrow-triangle-right-alt2:before {
    content: "\49";
}

.egi-arrow-back:before {
    content: "\4a";
}

.egi-icon-minus-06:before {
    content: "\4b";
}

.egi-icon-plus:before {
    content: "\4c";
}

.egi-icon-close:before {
    content: "\4d";
}

.egi-icon-check:before {
    content: "\4e";
}

.egi-icon-minus-alt2:before {
    content: "\4f";
}

.egi-icon-plus-alt2:before {
    content: "\50";
}

.egi-icon-close-alt2:before {
    content: "\51";
}

.egi-icon-check-alt2:before {
    content: "\52";
}

.egi-icon-zoom-out-alt:before {
    content: "\53";
}

.egi-icon-zoom-in-alt:before {
    content: "\54";
}

.egi-icon-search:before {
    content: "\55";
}

.egi-icon-box-empty:before {
    content: "\56";
}

.egi-icon-box-selected:before {
    content: "\57";
}

.egi-icon-minus-box:before {
    content: "\58";
}

.egi-icon-plus-box:before {
    content: "\59";
}

.egi-icon-box-checked:before {
    content: "\5a";
}

.egi-icon-circle-empty:before {
    content: "\5b";
}

.egi-icon-circle-slelected:before {
    content: "\5c";
}

.egi-icon-stop-alt2:before {
    content: "\5d";
}

.egi-icon-stop:before {
    content: "\5e";
}

.egi-icon-pause-alt2:before {
    content: "\5f";
}

.egi-icon-pause:before {
    content: "\60";
}

.egi-icon-menu:before {
    content: "\61";
}

.egi-icon-menu-square-alt2:before {
    content: "\62";
}

.egi-icon-menu-circle-alt2:before {
    content: "\63";
}

.egi-icon-ul:before {
    content: "\64";
}

.egi-icon-ol:before {
    content: "\65";
}

.egi-icon-adjust-horiz:before {
    content: "\66";
}

.egi-icon-adjust-vert:before {
    content: "\67";
}

.egi-icon-document-alt:before {
    content: "\68";
}

.egi-icon-documents-alt:before {
    content: "\69";
}

.egi-icon-pencil:before {
    content: "\6a";
}

.egi-icon-pencil-edit-alt:before {
    content: "\6b";
}

.egi-icon-pencil-edit:before {
    content: "\6c";
}

.egi-icon-folder-alt:before {
    content: "\6d";
}

.egi-icon-folder-open-alt:before {
    content: "\6e";
}

.egi-icon-folder-add-alt:before {
    content: "\6f";
}

.egi-icon-info-alt:before {
    content: "\70";
}

.egi-icon-error-oct-alt:before {
    content: "\71";
}

.egi-icon-error-circle-alt:before {
    content: "\72";
}

.egi-icon-error-triangle-alt:before {
    content: "\73";
}

.egi-icon-question-alt2:before {
    content: "\74";
}

.egi-icon-question:before {
    content: "\75";
}

.egi-icon-comment-alt:before {
    content: "\76";
}

.egi-icon-chat-alt:before {
    content: "\77";
}

.egi-icon-vol-mute-alt:before {
    content: "\78";
}

.egi-icon-volume-low-alt:before {
    content: "\79";
}

.egi-icon-volume-high-alt:before {
    content: "\7a";
}

.egi-icon-quotations:before {
    content: "\7b";
}

.egi-icon-quotations-alt2:before {
    content: "\7c";
}

.egi-icon-clock-alt:before {
    content: "\7d";
}

.egi-icon-lock-alt:before {
    content: "\7e";
}

.egi-icon-lock-open-alt:before {
    content: "\e000";
}

.egi-icon-key-alt:before {
    content: "\e001";
}

.egi-icon-cloud-alt:before {
    content: "\e002";
}

.egi-icon-cloud-upload-alt:before {
    content: "\e003";
}

.egi-icon-cloud-download-alt:before {
    content: "\e004";
}

.egi-icon-image:before {
    content: "\e005";
}

.egi-icon-images:before {
    content: "\e006";
}

.egi-icon-lightbulb-alt:before {
    content: "\e007";
}

.egi-icon-gift-alt:before {
    content: "\e008";
}

.egi-icon-house-alt:before {
    content: "\e009";
}

.egi-icon-genius:before {
    content: "\e00a";
}

.egi-icon-mobile:before {
    content: "\e00b";
}

.egi-icon-tablet:before {
    content: "\e00c";
}

.egi-icon-laptop:before {
    content: "\e00d";
}

.egi-icon-desktop:before {
    content: "\e00e";
}

.egi-icon-camera-alt:before {
    content: "\e00f";
}

.egi-icon-mail-alt:before {
    content: "\e010";
}

.egi-icon-cone-alt:before {
    content: "\e011";
}

.egi-icon-ribbon-alt:before {
    content: "\e012";
}

.egi-icon-bag-alt:before {
    content: "\e013";
}

.egi-icon-creditcard:before {
    content: "\e014";
}

.egi-icon-cart-alt:before {
    content: "\e015";
}

.egi-icon-paperclip:before {
    content: "\e016";
}

.egi-icon-tag-alt:before {
    content: "\e017";
}

.egi-icon-tags-alt:before {
    content: "\e018";
}

.egi-icon-trash-alt:before {
    content: "\e019";
}

.egi-icon-cursor-alt:before {
    content: "\e01a";
}

.egi-icon-mic-alt:before {
    content: "\e01b";
}

.egi-icon-compass-alt:before {
    content: "\e01c";
}

.egi-icon-pin-alt:before {
    content: "\e01d";
}

.egi-icon-pushpin-alt:before {
    content: "\e01e";
}

.egi-icon-map-alt:before {
    content: "\e01f";
}

.egi-icon-drawer-alt:before {
    content: "\e020";
}

.egi-icon-toolbox-alt:before {
    content: "\e021";
}

.egi-icon-book-alt:before {
    content: "\e022";
}

.egi-icon-calendar:before {
    content: "\e023";
}

.egi-icon-film:before {
    content: "\e024";
}

.egi-icon-table:before {
    content: "\e025";
}

.egi-icon-contacts-alt:before {
    content: "\e026";
}

.egi-icon-headphones:before {
    content: "\e027";
}

.egi-icon-lifesaver:before {
    content: "\e028";
}

.egi-icon-piechart:before {
    content: "\e029";
}

.egi-icon-refresh:before {
    content: "\e02a";
}

.egi-icon-link-alt:before {
    content: "\e02b";
}

.egi-icon-link:before {
    content: "\e02c";
}

.egi-icon-loading:before {
    content: "\e02d";
}

.egi-icon-blocked:before {
    content: "\e02e";
}

.egi-icon-archive-alt:before {
    content: "\e02f";
}

.egi-icon-heart-alt:before {
    content: "\e030";
}

.egi-icon-star-alt:before {
    content: "\e031";
}

.egi-icon-star-half-alt:before {
    content: "\e032";
}

.egi-icon-star:before {
    content: "\e033";
}

.egi-icon-star-half:before {
    content: "\e034";
}

.egi-icon-tools:before {
    content: "\e035";
}

.egi-icon-tool:before {
    content: "\e036";
}

.egi-icon-cog:before {
    content: "\e037";
}

.egi-icon-cogs:before {
    content: "\e038";
}

.egi-arrow-up-alt:before {
    content: "\e039";
}

.egi-arrow-down-alt:before {
    content: "\e03a";
}

.egi-arrow-left-alt:before {
    content: "\e03b";
}

.egi-arrow-right-alt:before {
    content: "\e03c";
}

.egi-arrow-left-up-alt:before {
    content: "\e03d";
}

.egi-arrow-right-up-alt:before {
    content: "\e03e";
}

.egi-arrow-right-down-alt:before {
    content: "\e03f";
}

.egi-arrow-left-down-alt:before {
    content: "\e040";
}

.egi-arrow-condense-alt:before {
    content: "\e041";
}

.egi-arrow-expand-alt3:before {
    content: "\e042";
}

.egi-arrow-carrot-up-alt:before {
    content: "\e043";
}

.egi-arrow-carrot-down-alt:before {
    content: "\e044";
}

.egi-arrow-carrot-left-alt:before {
    content: "\e045";
}

.egi-arrow-carrot-right-alt:before {
    content: "\e046";
}

.egi-arrow-carrot-2up-alt:before {
    content: "\e047";
}

.egi-arrow-carrot-2dwnn-alt:before {
    content: "\e048";
}

.egi-arrow-carrot-2left-alt:before {
    content: "\e049";
}

.egi-arrow-carrot-2right-alt:before {
    content: "\e04a";
}

.egi-arrow-triangle-up-alt:before {
    content: "\e04b";
}

.egi-arrow-triangle-down-alt:before {
    content: "\e04c";
}

.egi-arrow-triangle-left-alt:before {
    content: "\e04d";
}

.egi-arrow-triangle-right-alt:before {
    content: "\e04e";
}

.egi-icon-minus-alt:before {
    content: "\e04f";
}

.egi-icon-plus-alt:before {
    content: "\e050";
}

.egi-icon-close-alt:before {
    content: "\e051";
}

.egi-icon-check-alt:before {
    content: "\e052";
}

.egi-icon-zoom-out:before {
    content: "\e053";
}

.egi-icon-zoom-in:before {
    content: "\e054";
}

.egi-icon-stop-alt:before {
    content: "\e055";
}

.egi-icon-menu-square-alt:before {
    content: "\e056";
}

.egi-icon-menu-circle-alt:before {
    content: "\e057";
}

.egi-icon-document:before {
    content: "\e058";
}

.egi-icon-documents:before {
    content: "\e059";
}

.egi-icon-pencil-alt:before {
    content: "\e05a";
}

.egi-icon-folder:before {
    content: "\e05b";
}

.egi-icon-folder-open:before {
    content: "\e05c";
}

.egi-icon-folder-add:before {
    content: "\e05d";
}

.egi-icon-folder-upload:before {
    content: "\e05e";
}

.egi-icon-folder-download:before {
    content: "\e05f";
}

.egi-icon-info:before {
    content: "\e060";
}

.egi-icon-error-circle:before {
    content: "\e061";
}

.egi-icon-error-oct:before {
    content: "\e062";
}

.egi-icon-error-triangle:before {
    content: "\e063";
}

.egi-icon-question-alt:before {
    content: "\e064";
}

.egi-icon-comment:before {
    content: "\e065";
}

.egi-icon-chat:before {
    content: "\e066";
}

.egi-icon-vol-mute:before {
    content: "\e067";
}

.egi-icon-volume-low:before {
    content: "\e068";
}

.egi-icon-volume-high:before {
    content: "\e069";
}

.egi-icon-quotations-alt:before {
    content: "\e06a";
}

.egi-icon-clock:before {
    content: "\e06b";
}

.egi-icon-lock:before {
    content: "\e06c";
}

.egi-icon-lock-open:before {
    content: "\e06d";
}

.egi-icon-key:before {
    content: "\e06e";
}

.egi-icon-cloud:before {
    content: "\e06f";
}

.egi-icon-cloud-upload:before {
    content: "\e070";
}

.egi-icon-cloud-download:before {
    content: "\e071";
}

.egi-icon-lightbulb:before {
    content: "\e072";
}

.egi-icon-gift:before {
    content: "\e073";
}

.egi-icon-house:before {
    content: "\e074";
}

.egi-icon-camera:before {
    content: "\e075";
}

.egi-icon-mail:before {
    content: "\e076";
}

.egi-icon-cone:before {
    content: "\e077";
}

.egi-icon-ribbon:before {
    content: "\e078";
}

.egi-icon-bag:before {
    content: "\e079";
}

.egi-icon-cart:before {
    content: "\e07a";
}

.egi-icon-tag:before {
    content: "\e07b";
}

.egi-icon-tags:before {
    content: "\e07c";
}

.egi-icon-trash:before {
    content: "\e07d";
}

.egi-icon-cursor:before {
    content: "\e07e";
}

.egi-icon-mic:before {
    content: "\e07f";
}

.egi-icon-compass:before {
    content: "\e080";
}

.egi-icon-pin:before {
    content: "\e081";
}

.egi-icon-pushpin:before {
    content: "\e082";
}

.egi-icon-map:before {
    content: "\e083";
}

.egi-icon-drawer:before {
    content: "\e084";
}

.egi-icon-toolbox:before {
    content: "\e085";
}

.egi-icon-book:before {
    content: "\e086";
}

.egi-icon-contacts:before {
    content: "\e087";
}

.egi-icon-archive:before {
    content: "\e088";
}

.egi-icon-heart:before {
    content: "\e089";
}

.egi-icon-profile:before {
    content: "\e08a";
}

.egi-icon-group:before {
    content: "\e08b";
}

.egi-icon-grid-2x2:before {
    content: "\e08c";
}

.egi-icon-grid-3x3:before {
    content: "\e08d";
}

.egi-icon-music:before {
    content: "\e08e";
}

.egi-icon-pause-alt:before {
    content: "\e08f";
}

.egi-icon-phone:before {
    content: "\e090";
}

.egi-icon-upload:before {
    content: "\e091";
}

.egi-icon-download:before {
    content: "\e092";
}

.egi-social-facebook:before {
    content: "\e093";
}

.egi-social-twitter:before {
    content: "\e094";
}

.egi-social-pinterest:before {
    content: "\e095";
}

.egi-social-googleplus:before {
    content: "\e096";
}

.egi-social-tumblr:before {
    content: "\e097";
}

.egi-social-tumbleupon:before {
    content: "\e098";
}

.egi-social-wordpress:before {
    content: "\e099";
}

.egi-social-instagram:before {
    content: "\e09a";
}

.egi-social-dribbble:before {
    content: "\e09b";
}

.egi-social-vimeo:before {
    content: "\e09c";
}

.egi-social-linkedin:before {
    content: "\e09d";
}

.egi-social-rss:before {
    content: "\e09e";
}

.egi-social-deviantart:before {
    content: "\e09f";
}

.egi-social-share:before {
    content: "\e0a0";
}

.egi-social-myspace:before {
    content: "\e0a1";
}

.egi-social-skype:before {
    content: "\e0a2";
}

.egi-social-youtube:before {
    content: "\e0a3";
}

.egi-social-picassa:before {
    content: "\e0a4";
}

.egi-social-googledrive:before {
    content: "\e0a5";
}

.egi-social-flickr:before {
    content: "\e0a6";
}

.egi-social-blogger:before {
    content: "\e0a7";
}

.egi-social-spotify:before {
    content: "\e0a8";
}

.egi-social-delicious:before {
    content: "\e0a9";
}

.egi-social-facebook-circle:before {
    content: "\e0aa";
}

.egi-social-twitter-circle:before {
    content: "\e0ab";
}

.egi-social-pinterest-circle:before {
    content: "\e0ac";
}

.egi-social-googleplus-circle:before {
    content: "\e0ad";
}

.egi-social-tumblr-circle:before {
    content: "\e0ae";
}

.egi-social-stumbleupon-circle:before {
    content: "\e0af";
}

.egi-social-wordpress-circle:before {
    content: "\e0b0";
}

.egi-social-instagram-circle:before {
    content: "\e0b1";
}

.egi-social-dribbble-circle:before {
    content: "\e0b2";
}

.egi-social-vimeo-circle:before {
    content: "\e0b3";
}

.egi-social-linkedin-circle:before {
    content: "\e0b4";
}

.egi-social-rss-circle:before {
    content: "\e0b5";
}

.egi-social-deviantart-circle:before {
    content: "\e0b6";
}

.egi-social-share-circle:before {
    content: "\e0b7";
}

.egi-social-myspace-circle:before {
    content: "\e0b8";
}

.egi-social-skype-circle:before {
    content: "\e0b9";
}

.egi-social-youtube-circle:before {
    content: "\e0ba";
}

.egi-social-picassa-circle:before {
    content: "\e0bb";
}

.egi-social-googledrive-alt2:before {
    content: "\e0bc";
}

.egi-social-flickr-circle:before {
    content: "\e0bd";
}

.egi-social-blogger-circle:before {
    content: "\e0be";
}

.egi-social-spotify-circle:before {
    content: "\e0bf";
}

.egi-social-delicious-circle:before {
    content: "\e0c0";
}

.egi-social-facebook-square:before {
    content: "\e0c1";
}

.egi-social-twitter-square:before {
    content: "\e0c2";
}

.egi-social-pinterest-square:before {
    content: "\e0c3";
}

.egi-social-googleplus-square:before {
    content: "\e0c4";
}

.egi-social-tumblr-square:before {
    content: "\e0c5";
}

.egi-social-stumbleupon-square:before {
    content: "\e0c6";
}

.egi-social-wordpress-square:before {
    content: "\e0c7";
}

.egi-social-instagram-square:before {
    content: "\e0c8";
}

.egi-social-dribbble-square:before {
    content: "\e0c9";
}

.egi-social-vimeo-square:before {
    content: "\e0ca";
}

.egi-social-linkedin-square:before {
    content: "\e0cb";
}

.egi-social-rss-square:before {
    content: "\e0cc";
}

.egi-social-deviantart-square:before {
    content: "\e0cd";
}

.egi-social-share-square:before {
    content: "\e0ce";
}

.egi-social-myspace-square:before {
    content: "\e0cf";
}

.egi-social-skype-square:before {
    content: "\e0d0";
}

.egi-social-youtube-square:before {
    content: "\e0d1";
}

.egi-social-picassa-square:before {
    content: "\e0d2";
}

.egi-social-googledrive-square:before {
    content: "\e0d3";
}

.egi-social-flickr-square:before {
    content: "\e0d4";
}

.egi-social-blogger-square:before {
    content: "\e0d5";
}

.egi-social-spotify-square:before {
    content: "\e0d6";
}

.egi-social-delicious-square:before {
    content: "\e0d7";
}

.egi-icon-printer:before {
    content: "\e103";
}

.egi-icon-calulator:before {
    content: "\e0ee";
}

.egi-icon-building:before {
    content: "\e0ef";
}

.egi-icon-floppy:before {
    content: "\e0e8";
}

.egi-icon-drive:before {
    content: "\e0ea";
}

.egi-icon-search-2:before {
    content: "\e101";
}

.egi-icon-id:before {
    content: "\e107";
}

.egi-icon-id-2:before {
    content: "\e108";
}

.egi-icon-puzzle:before {
    content: "\e102";
}

.egi-icon-like:before {
    content: "\e106";
}

.egi-icon-dislike:before {
    content: "\e0eb";
}

.egi-icon-mug:before {
    content: "\e105";
}

.egi-icon-currency:before {
    content: "\e0ed";
}

.egi-icon-wallet:before {
    content: "\e100";
}

.egi-icon-pens:before {
    content: "\e104";
}

.egi-icon-easel:before {
    content: "\e0e9";
}

.egi-icon-flowchart:before {
    content: "\e109";
}

.egi-icon-datareport:before {
    content: "\e0ec";
}

.egi-icon-briefcase:before {
    content: "\e0fe";
}

.egi-icon-shield:before {
    content: "\e0f6";
}

.egi-icon-percent:before {
    content: "\e0fb";
}

.egi-icon-globe:before {
    content: "\e0e2";
}

.egi-icon-globe-2:before {
    content: "\e0e3";
}

.egi-icon-target:before {
    content: "\e0f5";
}

.egi-icon-hourglass:before {
    content: "\e0e1";
}

.egi-icon-balance:before {
    content: "\e0ff";
}

.egi-icon-rook:before {
    content: "\e0f8";
}

.egi-icon-printer-alt:before {
    content: "\e0fa";
}

.egi-icon-calculator-alt:before {
    content: "\e0e7";
}

.egi-icon-building-alt:before {
    content: "\e0fd";
}

.egi-icon-floppy-alt:before {
    content: "\e0e4";
}

.egi-icon-drive-alt:before {
    content: "\e0e5";
}

.egi-icon-search-alt:before {
    content: "\e0f7";
}

.egi-icon-id-alt:before {
    content: "\e0e0";
}

.egi-icon-id-2-alt:before {
    content: "\e0fc";
}

.egi-icon-puzzle-alt:before {
    content: "\e0f9";
}

.egi-icon-like-alt:before {
    content: "\e0dd";
}

.egi-icon-dislike-alt:before {
    content: "\e0f1";
}

.egi-icon-mug-alt:before {
    content: "\e0dc";
}

.egi-icon-currency-alt:before {
    content: "\e0f3";
}

.egi-icon-wallet-alt:before {
    content: "\e0d8";
}

.egi-icon-pens-alt:before {
    content: "\e0db";
}

.egi-icon-easel-alt:before {
    content: "\e0f0";
}

.egi-icon-flowchart-alt:before {
    content: "\e0df";
}

.egi-icon-datareport-alt:before {
    content: "\e0f2";
}

.egi-icon-briefcase-alt:before {
    content: "\e0f4";
}

.egi-icon-shield-alt:before {
    content: "\e0d9";
}

.egi-icon-percent-alt:before {
    content: "\e0da";
}

.egi-icon-globe-alt:before {
    content: "\e0de";
}

.egi-icon-clipboard:before {
    content: "\e0e6";
}